# R Studio & System
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store

# Lokale Daten
data/
fashion-retail-analysis_DE.html
fashion-retail-analysis_DE.qmd
fashion-retail-analysis_DE_files/
Anleitung_Reproduktion_Transferarbeit.html
Anleitung_Reproduktion_Transferarbeit.md

# Temporäre Dateien
*.log
*.tmp
*.bak